<div id="<%= dom_id friend %>">
  <table class="table table-striped">
    <thead>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th scope="col">User Id</th>
    </thead>
    <tbody>
      <td><%= friend.first_name%></td>
      <td><%= friend.last_name%></td>
      <td><%= friend.email%></td>
      <td><%= friend.phone%></td>
      <td><%= friend.twitter%></td>
      <td><%= friend.user_id%></td>
    </tbody>
  </table>

</div>
